<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/mainBoard.css">
    <title>Neighbor</title>
</head>
<% var count = 0 %>
<body>
    
    <% include header %>
    
    <div id="wholeBoard">
        <div id="list">
            <ul id="outList">
                <li style="font-size: 20px; margin-bottom: 10px;">Neighbor</li>
                <li class="listTitle">
                    지역별
                </li>
                <li>
                    <ul class="child">
                        <li><a href="list/서울/1">ㄴ서울</a></li>
                        <li><a href="list/경기/1">ㄴ경기</a></li>
                        <li><a href="list/강원/1">ㄴ강원</a></li>
                        <li><a href="list/충북/1">ㄴ충북</a></li>
                        <li><a href="list/충남/1">ㄴ충남</a></li>
                        <li><a href="list/전북/1">ㄴ전북</a></li>
                        <li><a href="list/전남/1">ㄴ전남</a></li>
                        <li><a href="list/경북/1">ㄴ경북</a></li>
                        <li><a href="list/경남/1">ㄴ경남</a></li>
                    </ul>
                </li>
                <li class="listTitle">
                    이모저모
                </li>
                <li>
                    <ul class="child">
                        <li><a href="list/취미/1">ㄴ취미/소모임</a></li>
                        <li><a href="list/낙서장/1">ㄴ낙서장</a></li>
                        <li><a href="list/핫추/1">ㄴ핫추</a></li>
                        <li><a href="list/고민상담소/1">ㄴ고민 상담소</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="showBoard">
            <div id="hobby">
                <div class="mainTitle">
                    취미·소모임
                </div>
                <div class="link">
                    <a href="list/취미/1">+</a>
                </div>
                <div id="pre">
                    <ul class="boardList">
                        <% for(var i = length-1; i >= 0; i--){ %>
                            <% if(rows[i].listName == '취미'){ %>
                            <li>
                                <a href="/textForm/<%=rows[i].listName%>/<%=rows[i].id%>"><%=rows[i].name%></a>
                                <span"><%=rows[i].createdAt%></span>
                            </li>
                            <%count++;}
                            if(count >8){
                                break;
                            }
                            }count = 0;%>
                    </ul>
                </div>
            </div>
            <div id="free">
                <div class="mainTitle">
                    낙서장
                </div>
                <div class="link">
                    <a href="list/낙서장/1">+</a>
                </div>
                <div id="pre">
                    <ul class="boardList">
                        <% for(var i = length-1; i >= 0; i--){ %>
                            <% if(rows[i].listName == '낙서장'){ %>
                            <li>
                                <a href="/textForm/<%=rows[i].listName%>/<%=rows[i].id%>"><%=rows[i].name%></a>
                                <span"><%=rows[i].createdAt%></span>
                            </li>
                            <%count++;}
                            if(count >8){
                                break;
                            }
                            }count = 0;%>
                    </ul>
                </div>
            </div>
            <div id="best">
                <div class="mainTitle">
                    핫추글
                </div>
                <div class="link">
                    <a href="list/핫추/1">+</a>
                </div>
                <div id="pre">
                    <ul class="boardList">
                        <% for(var i = length-1; i >= 0; i--){ %>
                            <% if(rows[i].listName == '핫추'){ %>
                            <li>
                                <a href="/textForm/<%=rows[i].listName%>/<%=rows[i].id%>"><%=rows[i].name%></a>
                                <span"><%=rows[i].createdAt%></span>
                            </li>
                            <%count++;}
                            if(count >8){
                                break;
                            }
                            }count = 0;%>
                    </ul>
                </div>
            </div>
            <div id="worry">
                <div class="mainTitle">
                    고민상담소
                </div>
                <div class="link">
                    <a href="list/고민상담소/1">+</a>
                </div>
                <div id="pre">
                    <ul class="boardList">
                        <% for(var i = length-1; i >= 0; i--){ %>
                            <% if(rows[i].listName == '고민상담소'){ %>
                            <li>
                                <a href="/textForm/<%=rows[i].listName%>/<%=rows[i].id%>"><%=rows[i].name%></a>
                                <span"><%=rows[i].createdAt%></span>
                            </li>
                            <%count++;}
                            if(count >8){
                                break;
                            }
                            }count = 0;%>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <% include footer %>
</body>
</html>