<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/seoulList.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Neighbor</title>
</head>
<body>
   
    <% include header %>
    
    <div id="wholeBoard">
        <div id="list">
            <ul id="outList">
                <li style="font-size: 20px; margin-bottom: 10px;">Neighbor</li>
                <li class="listTitle">
                    지역별
                </li>
                <li>
                    <ul class="child">
                        <li><a href="/list/서울/1">ㄴ서울</a></li>
                        <li><a href="/list/경기/1">ㄴ경기</a></li>
                        <li><a href="/list/강원/1">ㄴ강원</a></li>
                        <li><a href="/list/충북/1">ㄴ충북</a></li>
                        <li><a href="/list/충남/1">ㄴ충남</a></li>
                        <li><a href="/list/전북/1">ㄴ전북</a></li>
                        <li><a href="/list/전남/1">ㄴ전남</a></li>
                        <li><a href="/list/경북/1">ㄴ경북</a></li>
                        <li style="margin-bottom: 10px;"><a href="/list/경남/1">ㄴ경남</a></li>
                    </ul>
                </li>
                <li class="listTitle">
                    이모저모
                </li>
                <li>
                    <ul class="child">
                        <li><a href="/list/취미/1">ㄴ취미/소모임</a></li>
                        <li><a href="/list/낙서장/1">ㄴ낙서장</a></li>
                        <li><a href="/list/핫추/1">ㄴ핫추</a></li>
                        <li><a href="/list/고민상담소/1">ㄴ고민 상담소</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="showBoard">
            <div class="test" id="event">
                <nav class="range" style="display:flex; padding-top:50px; margin-left: 30px;">
                    <span id="title"><%=where%></span>
                </nav>
                <ul class="boardList">
                   <li>
                        <ul id="attribute">
                            <li style="margin-left:282px; line-height: 30px;">제목</li>
                            <li style="margin-left:320px; line-height: 30px;">작성일</li>
                            <li style="margin-left:69px; margin-right:45px; line-height: 30px;">댓글</li>
                        </ul>
                   </li>
                   
               
                   <%
                   if(length == 0){

                   }else{
                   for(var i = (length-1) - ((page-1) * page_num); i > (length-1) - (page * page_num); i--) {
                   if(i < 0){
                       i--;
                   }else{
                       var data = rows[i]
                   %>
                   <li>
                        <div class="name"><a href="/textForm/<%=where%>/<%=data.id%>"><%=data.name%></a></div>
                        <div class="date"><%=data.createdAt%></div>
                        <div class="comment">댓글</div>
                   </li>
                   <% }
                   }
                }
                   %>
                </ul>
                <div> <button id ="goInput" onclick="location.href='/editText/<%=where%>'">글쓰기</button> </div>
                <div class="paging">
                    <%
                    for(var j = 0; j < rows.length / page_num; j++){
                    %>
                    [<a href="<%= j + 1 %>"><%= j + 1 %></a>]
                    <%
                    }
                    %>
                </div>
                <div id="search">
                    <form action="" method="post">
                        <select name="searchRange" id="searchRange">
                            <option value="title">제목</option>
                            <option value="contents">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input id="searchWhat" type="text">
                        <button id="goSearch" type="submit">검색</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <% include footer %>
    
</body>
</html>