<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/textForm.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Neighbor</title>
</head>
<body>
    
    <% include header %>
    
    <div id="editOutter">
        <div id="listDiv">
            <div id="listName">
                <a href="/list/<%=where%>/1"><%=where%></a>
            </div>
            <div id="edit">
                
                <div style="width: 1000px;">
                    <span class="tit">
                        <%=row.title%>
                    </span>
                    <div id="who">
                        작성자: <a href="#"><%=row.name%>></a>
                    </div>
                    <div style="width:1000px; height: 500px; margin-top: 30px;"><%=row.input%></div>
                </div>
            </div>
        </div>
        <div id="comment">
            <span id="dat">댓글</span>
            <% if(cmt.length == 0){}
            else{ 
                for(var i = 0; i < cmt.length; i++){ %>
                    
                    <div id="comDiv">
                        <span><%=cmt[i].name%></span>
                        <p>
                            <%=cmt[i].content%>
                        </p>
                    </div>
                
                <% } 
            }%>
        </div>
        <form action="/createCmt/<%=where%>/<%=row.id%>" method="post" id="addComment">
            <span><%=row.name%></span>
            <input type="hidden" name="nickName" value="<%=row.name%>">
            <textarea name="content" placeholder="댓글을 남겨보세요."></textarea>
            <button type="submit" style=" width:50px;"> 등록</button>
        </form>
    </div>
    
    <% include footer %>
</body>
</html>